[flake8]
    max-line-length = 120
    max-complexity = 18
    docstring-convention = google
    ignore =
        # Exclude errors conflicting with black
        W503, E203
        # Exclude some unnecesarry errors
        D104, D105, D212, D200, D107, D100, D205, D415
        # D100, D101, D102, D103, D104, D105, D106, D107, D200, D205, D212, D415, D417
    exclude =
        # No need to traverse our git directory
        .git,
        # There's no value in checking cache directories
        __pycache__,
        .mpy_cache,
        .pytest_cache,

    per-file-ignores = tests/*: D1
